# Environments
venv/
cenv/
attv/
.venv/
.env
*.env
!*.env.example
!deploy/env/
!deploy/env/*

# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python

# Databases
*.sqlite3
*.db

# Node
node_modules/
npm-debug.log

# Media & Uploads
media/
camp/media/
staticfiles/

# Logs
*.log
logs/

# OS & IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
