Django==5.2.7
django-environ==0.12.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.0.0
django-adminlte3==0.1.6
gunicorn==23.0.0
psycopg[binary]==3.2.3
whitenoise==6.9.0
weasyprint==66.0
Pillow==12.0.0
qrcode==8.2
reportlab==4.4.5
pandas==2.3.3
numpy==2.3.4
scikit-learn==1.7.2
requests==2.32.3
python-dateutil==2.9.0.post0
pytz==2025.2
tzdata==2025.2
asgiref==3.10.0
sqlparse==0.5.3
