<section class="py-16" bg-primary text-white" data-aos="fade-right">
  <div class="max-w-6xl mx-auto text-center">
    <h2 class="section-title">Success Numbers</h2>

    <div class="grid grid-cols-2 md:grid-cols-4 gap-8 mt-10 text-dark">
      <div>
        <p class="text-4xl font-bold">50+</p>
        <p class="text-gray-600">Students trained yearly</p>
      </div>
      <div>
        <p class="text-4xl font-bold">10+</p>
        <p class="text-gray-600">Software deployments</p>
      </div>
      <div>
        <p class="text-4xl font-bold">90%</p>
        <p class="text-gray-600">Practical teaching</p>
      </div>
      <div>
        <p class="text-4xl font-bold">98%</p>
        <p class="text-gray-600">Satisfaction rate</p>
      </div>
    </div>
  </div>
</section>
