<div class="flex items-center justify-between mb-10">

    <div class="text-center flex-1">

        <div class="w-10 h-10 rounded-full bg-blue-600 text-white flex items-center justify-center mx-auto">

            1

        </div>

        <p class="mt-2 text-sm">

            Student

        </p>

    </div>

    <div class="flex-1 h-1 bg-slate-200"></div>

    <div class="text-center flex-1">

        <div class="w-10 h-10 rounded-full bg-slate-300 text-white flex items-center justify-center mx-auto">

            2

        </div>

        <p class="mt-2 text-sm">

            Parent

        </p>

    </div>

    <div class="flex-1 h-1 bg-slate-200"></div>

    <div class="text-center flex-1">

        <div class="w-10 h-10 rounded-full bg-slate-300 text-white flex items-center justify-center mx-auto">

            3

        </div>

        <p class="mt-2 text-sm">

            Payment

        </p>

    </div>

</div>