{% extends "teencamp/base.html" %}

{% block content %}

{% include "teencamp/includes/hero.html" %}
{% include "teencamp/includes/about.html" %}
{% include "teencamp/includes/programs.html" %}
{% include "teencamp/includes/why_us.html" %}
{% include "teencamp/includes/student_projects.html" %}
{% include "teencamp/includes/learning_path.html" %}
{% include "teencamp/includes/gallery.html" %}
{% include "teencamp/includes/testimonials.html" %}
{% include "teencamp/includes/faq.html" %}
{% include "teencamp/includes/cta.html" %}

{% endblock %}