{% extends "base.html" %}
{% block content %}

<h1 class="text-4xl font-bold mb-6">CodeCamp Blog</h1>

<form action="{% url 'blog:search' %}" method="get" class="mb-10">
  <input name="q" placeholder="Search articles..." class="border p-3 rounded w-full">
</form>

<div class="grid md:grid-cols-3 gap-8">
  {% for post in posts %}
    {% include "components/blog-card.html" %}
  {% endfor %}
</div>
<div class="mt-10">
  {% if posts.has_previous %}
    <a href="?page={{ posts.previous_page_number }}" class="btn-secondary">Prev</a>
  {% endif %}

  {% if posts.has_next %}
    <a href="?page={{ posts.next_page_number }}" class="btn-primary">Next</a>
  {% endif %}
</div>

{% endblock %}
